span {
  color: #4caf4f;
}

.calorie-container {
  background-image: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover; /* ปรับขนาดภาพให้เต็มพื้นที่ */
  background-position: center; /* จัดกึ่งกลางภาพ */
  background-repeat: no-repeat; /* ไม่ให้ภาพซ้ำ */
  padding: 6rem; /* เพิ่ม padding รอบๆ กล่อง */
  /* border-radius: 0.5rem;        ปรับขอบให้กลมมน */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  color: #fff; /* ตั้งสีข้อความเป็นสีขาว (หากต้องการให้เห็นชัดบนพื้นหลัง) */
}

.btn-custom {
  background-color: #4caf4f;
}

.calculator-form {
  /* max-width: 600px; */
  margin: auto;
}

.gender-toggle .btn {
  width: 100px;
}
